{% extends 'base.html.twig' %}

{% block title %}Community - Ski{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/community.css') }}">
    <link rel="stylesheet" href="{{ asset('style/_banner.css') }}" />


    <div class="banner">
        <h1>Community</h1>
    </div>


    <div class="communityPage flex flex-col items-center">
        <form class=" mt-16 lg:mb-32 mb-16 mx-auto " method="get" action="/community/search">
            <input class="border-b-black border-b-2 focus:outline-none text-xl w-[30vw]" type="text" name="q" placeholder="Rechercher un post...">
            <button type="submit">
                <i class="relative right-6 fa fa-search fa-2x" aria-hidden="true"></i>
            </button>
        </form>

        <div class="content flex lg:items-start items-center relative lg:flex-row flex-col w-[100%]" >
            <div class="navContent lg:mx-16 lg:sticky top-2 flex flex-col items-center mx-0">
                <h2 class="mb-8">Catégories</h2>
                <div class="feedNav mb-4 lg:block flex flex-wrap gap-4 justify-center lg:w-[15vw] w-[90vw]">
                    <a href="/community"><h3>Tous</h3></a>
                    <a href="/community/sort/Infos%20officielles"><h3>Infos officielles</h3></a>
                    <a href="/community/sort/Événements"><h3>Événements</h3></a>
                    <a href="/community/sort/Concours"><h3>Concours</h3></a>
                    <a href="/community/sort/Bons%20plans"><h3>Bons plans</h3></a>
                    <a href="/community/sort/Pour%20les%20djeuns"><h3>Pour les djeuns</h3></a>
                    <a href="/community/sort/Coin%20photos"><h3>Coin photos</h3></a>
                    <a href="/community/sort/Objets%20perdus"><h3>Objets perdus</h3></a>
                </div>
            </div>

            <div class="separator lg:h-[60vh] h-[5vh] w-[3px] bg-grisBleu lg:sticky top-8 lg:rotate-0 rotate-90"></div>

            <div class="feedContent m-auto">
                {% if app.user %}
                    <div class="newPost flex flex-col gap-6 items-center mb-8 m-auto">
                        <h2 class="mb-8">Rédiger un post</h2>


                        <div class="divContentNewPost createNewPost flex bg-grisBg rounded-lg shadow-sm relative">

                            <div class="contentNewPost p-8 flex items-start gap-8 lg:w-[60vw] w-[88vw]">
                                <img class="rounded-full border-2 border-black" src="{{ asset('img/search.png') }}">

                                <form action="/add-post" method="post" enctype="multipart/form-data" class="w-[100%]">
                                    <div class="flex flex-col gap-6 w-[100%]">
                                        <div class="typeLineNewPost relative flex items-center justify-between">
                                            <div class="flex flex-col items-center">
                                                <div class="flex items-center gap-4">
                                                    <p class="text-bleuClair text-lg">Catégorie: </p>
                                                    <select name="category" class="dropdown-content text-bleuFoncé text-xl font-bold">
                                                        {% if app.user.roles == ["ROLE_ADMIN"] %}
                                                            <option value="Infos officielles">Infos officielles</option>
                                                        {% endif %}
                                                        <option value="Événements">Événements</option>
                                                        <option value="Concours">Concours</option>
                                                        <option value="Bons plans">Bons plans</option>
                                                        <option value="Pour les djeuns">Pour les djeuns</option>
                                                        <option value="Coin photos">Coin photos</option>
                                                        <option value="Objets perdus">Objets perdus</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <textarea name="content" class="bg-grisTextArea rounded-md p-4 w-[100%] h-[100px]" placeholder="Rédigez votre message..."></textarea>

                                        <button type="submit" class="sendBtn bg-bleuFoncé rounded-full shadow-md absolute right-4 bottom-4" name="submit">
                                            <i class="py-3 pr-4 pl-3 fa fa-paper-plane fa-2x text-white rotate-25" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="feed">
                    <div class="flex flex-col items-center gap-6">
                        <div class="flex flex-col items-center mb-8">
                            <h2>Fil d'actus</h2>
                            {% if sort is defined %}
                                <h3 class="categoryName uppercase">{{ sort }}</h3>
                            {% else %}
                                <h3>TOUS</h3>
                            {% endif %}
                        </div>
                    </div>
                    {% for post in commPosts %}
                        <div class="newPost flex flex-col gap-6 items-center mb-8">
                            <div class="divContentNewPost createNewPost flex bg-grisBg rounded-lg shadow-sm">

                                <div class="contentNewPost p-8 flex items-start gap-8 lg:w-[60vw] w-[88vw]">
                                    <img class="rounded-full border-2 border-black w-[7%]" src="{{ asset('img/usericon.png') }}">

                                    <div class="flex flex-col gap-6 w-[100%]">
                                        <div class="typeLineNewPost relative flex items-center justify-between">
                                            <div class="flex flex-col items-center">
                                                <div class="categoryChoice flex items-center text-xl gap-4">
                                                    <p class="text-bleuFoncé font-bold">{{ post.category }}</p>
                                                </div>
                                            </div>

                                            <p class="text-grisBleu font-bold text-sm">le {{ post.date|date("d/m/Y")}} à {{ post.date|date("H:i")}}</p>
                                        </div>

                                        <p class="bg-grisTextArea rounded-md p-4 w-[100%] h-[100px]">{{ post.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ asset('js/tailwind.js') }}"></script>
    <script src="{{ asset('js/community.js') }}"></script>
{% endblock %}