
<link rel="stylesheet" href="{{ asset('style/_nav.css') }}" />

<!-- Header -->
<div id="header"></div>
<header class="main_header" id="header">

    <a href="#" class="logo">Startup</a>
    <div class="toggle"></div>
    <ul>
        <li><a href="{{ path ('app_app') }}">Home</a></li>
        <li><a href="{{ path ('app_community') }}">Community</a></li>
        <li><a class="btn" href="{{ path ('app_login') }}">Login</a></li>
        {% if app.user %}
        <li><a href="#">Profile</a></li>
        <li><a href="{{ path ('app_logout') }}">Logout</a></li>
        {% else %}
    </ul>
</header>
<!-- Fin Header -->