{% extends 'base.html.twig' %}

{% block title %}Welcome to your ski station!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('style/_reset.css') }}" />
<link rel="stylesheet" href="{{ asset('style/_banner.css') }}" />
<link rel="stylesheet" href="{{ asset('style/homePage.css') }}" />
<link rel="stylesheet" href="{{ asset('style/_card.css') }}" />



<div class="banner">
    <h1>Bienvenue</h1>
</div>

<div class="titles">
    <h3>DÉCOUVREZ NOS</h3>
    <h2>Domaines</h2>
</div>

<div class="card">
    <div class="left">
        {% for domain in domains %}
            <img src="{{ asset('img/domain.png') }}" alt="ski photo">
    </div>
    <div class="right">
        <h2>{{ domain.name }}</h2>
        {% for station in stations %}
            {% if station.domaine  ==  domain %}
                <a href="{{ path('app_station',{'id':station.id}) }}"><p>{{ station.name }}</p></a>
            {% endif %}
        {% endfor %}
    </div>
        {% endfor %}
</div>

{% endblock %}

